```gitignore
########################################
# Visual Studio
########################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

########################################
# Build
########################################
bin/
obj/

########################################
# Rider / ReSharper
########################################
_ReSharper*/
*.DotSettings.user

########################################
# NuGet
########################################
packages/
*.nupkg

########################################
# Logs
########################################
*.log

########################################
# OS
########################################
Thumbs.db
Desktop.ini
.DS_Store

########################################
# Publish
########################################
publish/

########################################
# Temporary
########################################
tmp/
temp/
others/
```
